/* text */
.title {
  font-size: var(--type-xx-large);
  width: 100%;
  line-height: 1;
  letter-spacing: -0.03em;
}

@media (min-width: 45em) {
  .title {
    font-size: var(--type-xxx-large);
  }
}

.subtitle {
  color: var(--color-grey);
}

.invert {
  color: var(--color-white);
}

.info {
  color: var(--color-neutral);
}

.small {
  font-size: var(--type-x-small);
  line-height: 1.5;
}

.del {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.heavy {
  font-size: var(--type-large);
  font-weight: 500;
}

.upcase {
  text-transform: uppercase;
}

.undecorated {
  text-decoration: none !important;
}

.highlight {
  background: linear-gradient(
    170deg,
    var(--color-canary) 0%,
    var(--color-banana) 100%
  );
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: -0.2em;
  margin-right: -0.2em;
}

.highlight.-subtle {
  background: linear-gradient(
    90deg,
    var(--color-peach) 0%,
    var(--color-canary) 100%
  );
}

.highlight.-grey {
  background: var(--color-grey);
  color: var(--color-white);
}

.radius {
  border-radius: 0.1em;
}

.nowrap {
  white-space: nowrap;
}

/* flex */
.flex {
  display: flex;
  align-items: center;
  padding: 0;
}

@media print {
  .flex {
    display: block;
  }
}

.flex.-space-between {
  justify-content: space-between;
}

.flex.-fill {
  width: 100%;
  min-height: 100vh;
}

.flex.-wrap {
  flex-wrap: wrap;
}

.flex.-center {
  justify-content: center;
  align-items: center;
}

.flex.-center-h {
  justify-content: center;
}

.flex.-center-v {
  align-items: center;
}

/* animate */
.fade-in {
  opacity: 0;
  animation: fade-in 0.3s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* align */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

@media (max-width: 44.99em) {
  .align-center-mobile {
    text-align: center;
  }
}

.push {
  margin: var(--space-medium) !important;
}

.push--top {
  margin-top: var(--space-medium) !important;
}

.push--bottom {
  margin-bottom: var(--space-medium) !important;
}

.push-x-small {
  margin: var(--space-x-small) !important;
}

.push-x-small--top {
  margin-top: var(--space-x-small) !important;
}

.push-x-small--bottom {
  margin-bottom: var(--space-x-small) !important;
}

.push-small {
  margin: var(--space-small) !important;
}

.push-small--top {
  margin-top: var(--space-small) !important;
}

.push-small--bottom {
  margin-bottom: var(--space-small) !important;
}

.push-large {
  margin: var(--space-large) !important;
}

.push-large--top {
  margin-top: var(--space-large) !important;
}

.push-large--bottom {
  margin-bottom: var(--space-large) !important;
}

.push-x-large {
  margin: var(--space-x-large) !important;
}

.push-x-large--top {
  margin-top: var(--space-x-large) !important;
}

.push-x-large--bottom {
  margin-bottom: var(--space-x-large) !important;
}

.flush {
  margin: 0 !important;
}

.flush--top {
  margin-top: 0 !important;
}

.flush--bottom {
  margin-bottom: 0 !important;
}

/* visibility */
.hide {
  display: none !important;
}

.hide-screens {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 44.99em) {
  .hide.-mobile {
    display: none !important;
  }
}

@media (min-width: 45em) {
  .hide.-desktop {
    display: none !important;
  }
}

.bordered {
  border-width: 1px;
  border-color: #e2e8f0;
  border-radius: 0.25rem;
}
