/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.overflow-fade {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  background: linear-gradient(
    to right,
    #ffffff00,
    rgba(255, 255, 255, var(--bg-opacity))
  );
}

.edit-tab[data-selected] {
  outline: none;
  border-bottom: 2px solid rgb(221, 107, 32);
}

.preview {
  min-height: 70px;
}
