/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
body {
  overflow-x: hidden;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg {
  background-color: rgb(250, 250, 250);
}

.bg-gradient {
  background-image: linear-gradient(
    rgba(0, 0, 255, 50%) 0%,
    rgba(230, 230, 230, 30%) 100%
  );
}

[disabled],
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.overflow-fade {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  background: linear-gradient(
    to right,
    #ffffff00,
    rgba(255, 255, 255, var(--bg-opacity))
  );
}

.edit-tab[data-selected] {
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 255);
}

.preview {
  min-height: 70px;
}

.blue-wash {
  filter: sepia(80%) hue-rotate(190deg) saturate(500%);
}

#try {
  scroll-margin: 115px 0 0 0;
}
/* purgecss end ignore */
